.Form {
    background: #5998ff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.Form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input {
    width: 48%;
    border-radius: 3px;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 10px;
}
input:invalid {
    border: 1px solid red;
}
input:valid {
    border: 1px solid green;
}
input[type="file"] {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}