.Message {
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    padding: 15px;
}
.Message span {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 20px;
}
.MessageContent {
    display: flex;
}
.MessageContent img {
    width: 100px;
    height: 100px;
    min-width: 100px;
    object-fit: cover;
    margin-right: 20px;
}
.MessageContent p {
    font-size: 18px;
    margin: 0;
}